.slider {
  position: relative;

  min-height: 460px;
}

.slider__list {
  @include list-style-none;
}

.slider__slide {
  display: none;
  flex-direction: column;
  align-items: center;
}

.slider__description {
  width: 50%;

  text-align: center;
}

.slider__radio {
  position: absolute;
  top: 100%;
  left: calc(50% - 25px);

  &--berlin {
    margin-left: 25px;
  }

  &--port {
    margin-left: 50px;
  }

  &--sahara:checked ~ .slider__list .slider__slide--sahara,
  &--berlin:checked ~ .slider__list .slider__slide--berlin,
  &--port:checked ~ .slider__list .slider__slide--port {
    display: flex;
  }
}
