-
  var companies = [
    {
      "name": "sahara",
      "alternative": "Сахар Сахары",
      "description": "Наша компания существует на рынке с 1854 года и является одной из ведущих в области производства сахара. Традиции, знания, и высокая компетенция позволяют нам создавать лучший продукт, который обязательно понравится и вам."
    },

    {
      "name": "berlin",
      "alternative": "Сахар Берлина",
      "description": "Мы предлагаем больше, чем ожидает потребитель. Наши продукты способны удивлять и вызывать привязанность."
    },

    {
      "name": "port",
      "alternative": "Сахар Порта",
      "description": "Очень многие люди обеспокоены – и не без основания – теми негативными последствиями для здоровья, которые вызывает чрезмерное употребление сахара. Покупая наш сахар вы сможете втрое сократить его потребление. Даже, возможно, отказаться от него вовсе."
    }
  ];
