extends pug/layout/main
block title
  | Test

block main
  main(class="page-main")
    h1(class="page-main__title") Рынок сахара
    include pug/modules/search

    include pug/modules/product

    include pug/modules/slider
