section(class="page-main__product product")
  h2(class="visually-hidden") Таблица товаров
  table(class="product__table")
    tr(class="product__head")

      mixin head(dates)
        each val in dates
          th(class="product__data")= val
      +head(["Название", "Цена", "Качество", "Город"])

    mixin company(dates)
      tr(class="product__company")
        each val in dates
          td(class="product__data")= val
    +company(["Сахара", "100 Р/кг", "Высшее", "Москва"])
    +company(["Берлин", "200 Р/кг", "Среднее", "Ивангород"])
    +company(["Порт", "40 Р/кг", "Низшее", "Геленджик"])
