section(class="page-main__product product")
  h2(class="visually-hidden") Таблица товаров
  table(class="product__table")
    tr(class="product__numbers")
      th(class="product__data") Название
      th(class="product__data") Цена
      th(class="product__data") Качество
      th(class="product__data") Город
    tr(class="product__company")
      td(class="product__data") Сахара
      td(class="product__data") 100 Р/кг
      td(class="product__data") Высшее
      td(class="product__data") Москва
    tr(class="product__company")
      td(class="product__data") Берлин
      td(class="product__data") 200 Р/кг
      td(class="product__data") Среднее
      td(class="product__data") Ивангород
    tr(class="product__company")
      td(class="product__data") Порт
      td(class="product__data") 40 Р/кг
      td(class="product__data") Низшее
      td(class="product__data") Геленджик
