section(class="page-main__slider slider")
  h2(class="visually-hidden") Слайдер

  - var company = ["sahara", "berlin", "port"];
    for name in company
      if name === "sahara"
        input(class="slider__radio slider__radio--"+name type="radio" name="slider-radio" id="slider-radio-"+name checked)
      else
        input(class="slider__radio slider__radio--"+name type="radio" name="slider-radio" id="slider-radio-"+name)

  ul(class="slider__list")

    mixin slide(name, alternative, description)
        li(class="slider__slide slider__slide--"+name)
          img(class="slider__img" src="img/"+name + ".jpg" alt=""+alternative width="450" height="300")
          p(class="slider__description")= description
    +slide(company[0], "Сахар Сахары", "Наша компания существует на рынке с 1854 года и является одной из ведущих в области производства сахара. Традиции, знания, и высокая компетенция позволяют нам создавать лучший продукт, который обязательно понравится и вам.")
    +slide(company[1], "Сахар Берлина", "Мы предлагаем больше, чем ожидает потребитель. Наши продукты способны удивлять и вызывать привязанность.")
    +slide(company[2], "Сахар Порта", "Очень многие люди обеспокоены – и не без основания – теми негативными последствиями для здоровья, которые вызывает чрезмерное употребление сахара. Покупая наш сахар вы сможете втрое сократить его потребление. Даже, возможно, отказаться от него вовсе.")
