section(class="page-main__slider slider")
  h2(class="visually-hidden") Слайдер
  input(class="slider__radio slider__radio--1" type="radio" name="slider-radio" id="slider-radio-1" checked)
  input(class="slider__radio slider__radio--2" type="radio" name="slider-radio" id="slider-radio-2")
  input(class="slider__radio slider__radio--3" type="radio" name="slider-radio" id="slider-radio-3")
  ul(class="slider__list")
    li(class="slider__slide slider__slide--Sahara")
      img(class="slider__img" src="img/sahara.jpg" alt="Сахар Сахары" width="450" height="300")
      p(class="slider__description") Наша компания существует на рынке с 1854 года и является одной из ведущих в области производства сахара. Традиции, знания, и высокая компетенция позволяют нам создавать лучший продукт, который обязательно понравится и вам.
    li(class="slider__slide slider__slide--Berlin")
      img(class="slider__img" src="img/berlin.jpg" alt="Сахар Берлина" width="450" height="300")
      p(class="slider__description") Мы предлагаем больше, чем ожидает потребитель. Наши продукты способны удивлять и вызывать привязанность.
    li(class="slider__slide slider__slide--Port")
      img(class="slider__img" src="img/port.jpg" alt="Сахар Порта" width="450" height="300")
      p(class="slider__description") Очень многие люди обеспокоены – и не без основания – теми негативными последствиями для здоровья, которые вызывает чрезмерное употребление сахара. Покупая наш сахар вы сможете втрое сократить его потребление. Даже, возможно, отказаться от него вовсе.
