-
  var product = [
    {
      "name": "Сахара",
      "price": "100 Р/кг",
      "quality": "Высшее",
      "city": "Москва"
    },

    {
      "name": "Берлин",
      "price": "200 Р/кг",
      "quality": "Среднее",
      "city": "Ивангород"
    },

    {
      "name": "Порт",
      "price": "40 Р/кг",
      "quality": "Низшее",
      "city": "Геленджик"
    }
  ];

- var productHead = ["Название", "Цена", "Качество", "Город"]
